.App {
  text-align: center;
}

html {
  font-size: calc(10px + 2vmin);
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@media screen and (aspect-ratio < 1 /2 ) {
  html  {
    font-size: 1.7vh;
  }
}

.buttons {
  display: flex;
  gap: 1.5rem;
}

button{
  width: 10rem;
  height: 2rem;
  border-radius: 10px;
  border: none;
}

main {
  margin-top: 1rem;
  border-radius:20px;
  background-color: #3eb489;
  width: 80vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
